#nombre, #contraseña{

    height: 25px;
    border-radius: 5px;
    padding: 4px;
    border: solid thin #aaa;
    width: 100%;
}

#button, a{

    padding: 10px;
    width: 100px;
    color: white;
    background-color: green;
    border: none;
    font-weight: bold;
}

#box{

    background-color: rgb(32,34,37);
    margin: auto;
    width: 300px;
    padding: 20px;
}

body{
    background-color: rgb(47,49,54);
}

a{
    background-color: red;
}